@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/bouton.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/cardblue.css");

body {
  font-family: "Merriweather", serif; 
  background-image: url("../Image/background.jpg"); 
  background-size: cover; 
  background-position: center; 
}

h1 {
  font-family: "Dancing Script", serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  line-height: 1.5; 
}

h2, h3, h4, h5 {
  font-family: "Dancing Script", serif;
  font-weight: normal;
  font-style: normal;
  color: navy;
  font-size: 50px;
  line-height: 1.5; 
}
